#block-googleheaderbanner {
  @include container();
  text-align: center;
}
.google-middle-ad {
  margin: 20px 0;
}
//#block-stickysidebar {
  //position: sticky;
  //top: 20px;
//}
.spb_top_center {
    top: 0;
    position: relative;
    margin: auto;
    max-width: 90%;
}